.wrapper {
    position: relative;
    text-align: center;
    
}

.wrapper ul,
.wrapper li {
    display: block;
    padding: 10px;

}

.explanation {
    margin-right: 300px;
    margin-left: 300px;
}

body {
    background-color: lightsteelblue;
}

.button {
    cursor: pointer;
    background-color: royalblue;
    color: white;
    margin-top: 37px;
    border-radius: 12px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.bouncy{
    animation:bouncy 5s infinite linear;
    position:relative;
}
@keyframes bouncy {
    0%{top:0em}
    40%{top:0em}
    43%{top:-0.9em}
    46%{top:0em}
    48%{top:-0.4em}
    50%{top:0em}
    100%{top:0em;}
}